#array-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

@keyframes example{
    from {background-color:black;}
    to {background-color: blue;}
}

body{
    background-color:black;
    background-image: linear-gradient(rgb(200, 115, 45),yellow);
}

.row{
    margin:3px;
    align-content: space-between;
    color:white;
    width: 30px;
    text-align:center;
    animation-name: example;
    animation-duration:0.3s; 
}
